*{
	margin: 0;
	padding: 0;
}

body{
	background: #5499C7;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;


}

h1{
  color: #154360;
	text-align: center;
	margin: 0;
	font-size: 30px
	margin-bottom:20px;
  font-family: "Homer Simpson", cursive;

}

/*estilo del formulario*/
form{
	width: 450px;
	margin: auto;
	background: rgba(0,0,0,0.4);
	padding: 10px 20px;
	box-sizing: border-box;
	margin-top: 20px;
	border-radius: 20px;
  text-decoration: none;
}

input{
	width: 100%;
	margin-bottom: 20px;
	padding: 7px;
	box-sizing: border-box;
	font-size: 17px;
	border: none;
}

#button{
	background: #5D6D7E;
	color: white;
	padding: 20px;
  font-size: 20px;
}

#button:hover{
	cursor: pointer;
	background: #D7DBDD;
	color: black;
}
