
body{
	background: #F2F3F4;
	font-family: 'Noto Sans', sans-serif;
}

.title{
	margin: auto;
	border:solid 2px red;
	position: relative;
	width: 300px;
	height: 40px;
	text-align: center;
	font-size: 30px;
}
.infoUsuario{
	margin:auto;

	position: relative;
	margin:10px 40px;
	width:440px;
	height: 40px;
}
table{

	width:600px;
	height: 800px;
	margin:auto;

	background: white;
	text-align: center;
}
.caja{
	width:120px;
	height: 120px;
	border:none;
	border-bottom:2px solid #F2F3F4;
	background: transparent;
	margin: auto;
	margin-top:-40px;

	transition: border 0.1s;


}
.col{
	width:  160px;
	height: -180px;
}
.caja:hover{
	border-bottom:2px solid #4DBDDB;

}
.icon{

	width: 120px;
	height: 120px;
	position:relative;
}
.titlemenu{
	background: #C70039;
	width: 150px;
	height: 40px;
	position: relative;
	color:white;
	font-size: 20px;
}
td{


}
